@font-face {
    font-family: VT323;
    src: url(./VT323-Regular.ttf);

}

* {
    font-family: VT323;
    color: #F9E8C9
}

body { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	line-height: 1.5; 
	min-height: 100vh; 
	background: #201658; 
	flex-direction: column; 
	margin: 0; 
    font-family: VT323;
} 


.main { 
	background-color: #201658; 
	border-radius: 15px; 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 500px; 
	height: 400px; 
	text-align: center; 
} 

.timer-circle { 
	border-radius: 50%; 
	width: 200px; 
	height: 200px; 
	margin: 20px auto; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 25px; 
	color: #F9E8C9; 
	border: 8px solid #F9E8C9; 
} 

.realbutton {
	width: 60px;
	font-size: 16px;
}
.control-buttons { 
	margin-top: 75px; 
	display: flex; 
	justify-content: space-evenly; 
	margin-left: 30px;
	margin-right: 30px;
    
} 

.control-buttons button { 
	background-color: #F9E8C9; 
	color: #fff; 
	border: none; 
	padding: 15px 10px; 
	border-radius: 5px; 
	cursor: pointer; 
    color: black;
	justify-content: center;
} 

.control-buttons button:hover { 
	background-color: #b3a58d; 
	transition: background-color 0.3s; 
}

.judging-cat, .cat {
    position: fixed;
    bottom: 300px; /* Off-screen initially */
    transition: bottom 0.5s ease-in-out; /* Smooth transition */
    z-index: 1000; /* Ensure it's above other content */
    width: 200px; /* Set the width */
    height: 200px; /* Maintain aspect ratio */
	
}

.left {
    left: 20rem;
}

.right {
    right: 20rem;
}

.cat {
    display: none; /* Initially hide the cat */
}

.break-time .cat {
    display: block; /* Show the cat during breaks */
}

.restart-button {
    background-color: #F9E8C9;
    color: black;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Ensure anchor tag doesn't have underline */
	margin-top: 1px;
	margin-left: 1px;
}
.restart-button:hover {
    background-color: #b3a58d;
    transition: background-color 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #201658;
    color: #F9E8C9;
    padding: 5px 30px;
}
/*comment*/